
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{

}

.app-container{
  padding-inline:1rem ;
  padding-block: 4rem;
}

@media (max-width: 1024px) {
  .app-container{
    padding-inline:6rem ;
    padding-block: 4rem;
  }
}